<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GDSC-COENGG | Gallary</title>
    <meta name="description" content="GDSC-COENGG Gallary View" />

    <meta name="contributor" content="Umesh Sonawane" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!--  CSS  -->
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="pilling-page dark" data-spy="scroll" data-target="#scrollspy" data-offset="1" oncontextmenu="return false"
    onkeydown="return false;" onmousedown="return false" ;>

    <!--  Page Pilling  Strat  -->
    <div id="pagepiling" class="pagepiling">

        <!--   Header Start -->
        <header>
            <div class="logo-area">
                <a href="#" class="logo">
                    <span class="size-sm mb-0 font-weight-bold pl-3 text-dark text-left">GDSC<span
                            class="base-color">&nbsp;COENGG</span></span>
                </a>
            </div>
            <div class="header-info-area">
                <a class="overlay-menu-toggler lni-menu size-md" href="javascript:void(0);"></a>
                <!--    Overlay Menu Start    -->
                <div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
                    <!-- Overlay Menu -->
                    <div id="scrollspy" class="overlay-menu-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2 overlay-nav">
                                    <ul class="list-group text-left" id="myMenu">
                                        <li>
                                            <a href="index.html">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="about-us.html">
                                                <span>About Us</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="teams.html">
                                                <span>Teams</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="teams.html">
                                                <span>Events</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="projects.html">
                                                <span>Projects</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blogs.html">
                                                <span>Blogs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="faq.html">
                                                <span>FAQs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact.html">
                                                <span>Contact</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <ul class="list-group contact-info text-left mb-0">
                                        <li class="list-group-item"><span>Contact Info :</span></li>
                                        <li class="list-group-item"><span><i class="lni-map-marker"></i> Nashik ,
                                                India</span></li>
                                        <li class="list-group-item"><span><i class="lni-envelope"></i><br> <a
                                                    href="mailto:gdscgescoengg@gmail.com">gdscgescoengg@gmail.com</a></span>
                                        </li>
                                        <li class="list-group-item"><span>Follow me :</span></li>
                                        <li class="list-group-item">
                                            <ul class="list-inline socails">
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="lni-facebook-filled text-dark"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="lni-twitter-filled text-dark"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="lni-github-original text-dark"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="lni-linkedin-original text-dark"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="lni-instagram-original text-dark"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    Overlay Menu End    -->
            </div>
        </header>
        <!--   Header End   -->

        <!--   Color Scheme  -->
        <a class="color-scheme text-white bg-base-color d-inline-block" href="javascript:void(0)"><i
                class="lni-sun"></i></a>

    </div>
    <!--  Page Pilling  End -->


    <!--  JavaScripts  -->
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <!--  Plugins JS  -->
    <script src="assets/js/plugins.js"></script>
    <!--  Custom JS  -->
    <script src="assets/js/main.js"></script>

    </script>
</body>

</html>