<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="res-container">
        <div class="res-row">
            <div id="block-1 b3">

                <div id="loader-wrap">
                    <div id="loading">
                        <div id="loading-center">
                            <div id="loading-center-absolute">
                                <div id="object"></div>
                                <div id="loader"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="res-container">
        <div class="res-row">
            <div id="block-1">
hello
                <!-- <div id="hero-text">reech studio</div>
                <div id="s-txt">reech studio</div>
                <div id="lg-ltrs">2274</div> -->

                <!-- <div id="header-wrap">
                    <span id="header">N</span>
                    <span id="header-o">o</span>
                    <span id="header-0">0</span>
                    <span id="header-1">1</span>
                    <span id="left-line"></span>
                </div> -->

                <!-- <div id="hero-box">
                    <div class="bg"></div>
                    <div class=""></div>
                </div>

                <div id="block-2"></div> -->

            </div>
        </div>
    </div>


<script src="index.js"></script>
</body>

</html>